body {
  text-align: center;
  font-family: sans-serif;
  background: lightblue;
}

/************************************ CLASS SELECTOR *************************************/

.profile-picture {
  width: 150px;
  height: 150px;
}